<%- include('./partials/header') -%>
    <h1>About me</h1>

    <p>
        <%= tetx1 %>
    </p>
    <div class="container-img">
        <img class="girl" src="image/girl.png" alt="">
        <img class="girl" src="image/pc.png" alt="">
        <img class="girl" src="image/pincel.png" alt="">
        <img class="girl" src="image/violin.png" alt="">

    </div>

    <%- include('./partials/footer') -%>